{{- define "schemaField"}}
"{{.Name | toSnake}}": {
	Type:     {{.Type | toSchemaType}},
	Computed: true,
	{{- if eq .Type "NestedObject"}}
	Elem: &schema.Resource{
		Schema: map[string]*schema.Schema{
			{{- range .Properties}}
			{{template "schemaField" .}}
			{{- end}}
		},
	},
	{{- else if eq .Type "Array"}}
	Elem: &schema.Schema{Type: schema.TypeString},
	{{- end}}
},
{{- end}}
package google

import (
	"context"
	"fmt"

	"github.com/hashicorp/terraform-plugin-sdk/v2/diag"
	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
	transport_tpg "github.com/hashicorp/terraform-provider-google/google/transport"
)

func dataSource{{.Name}}List() *schema.Resource {
	return &schema.Resource{
		ReadContext: dataSource{{.Name}}ListRead,
		Schema: map[string]*schema.Schema{
			"project": {
				Type:     schema.TypeString,
				Optional: true,
			},
			"{{.Name | toSnake}}s": {
				Type:     schema.TypeList,
				Computed: true,
				Elem: &schema.Resource{
					Schema: map[string]*schema.Schema{
						{{- range .Properties}}
						{{template "schemaField" .}}
						{{- end}}
					},
				},
			},
		},
	}
}

func dataSource{{.Name}}ListRead(ctx context.Context, d *schema.ResourceData, meta interface{}) diag.Diagnostics {
	config := meta.(*Config)
	project, err := getProject(d, config)
	if err != nil {
		return diag.FromErr(err)
	}
	baseURL := fmt.Sprintf("{{.APIBaseURL}}{{.BaseURL | toFmtURL}}", project)
	var items []interface{}
	token := ""
	for {
		url := baseURL
		if token != "" {
			url = fmt.Sprintf("%s?pageToken=%s", baseURL, token)
		}
		res, err := transport_tpg.SendRequest(transport_tpg.SendRequestOptions{
			Config:    config,
			Method:    "GET",
			Project:   project,
			RawURL:    url,
			UserAgent: config.UserAgent,
		})
		if err != nil {
			return diag.FromErr(fmt.Errorf("error listing {{.Name}}s: %w", err))
		}
		pageItems, ok := res["{{.Name | toLowerCamel}}s"].([]interface{})
		if !ok {
			break
		}
		items = append(items, pageItems...)
		token, _ = res["nextPageToken"].(string)
		if token == "" {
			break
		}
	}
	if err := d.Set("{{.Name | toSnake}}s", items); err != nil {
		return diag.FromErr(err)
	}
	d.SetId(project)
	return nil
}
