{{- define "schemaField"}}
"{{.Name | toSnake}}": {
	Type:     {{.Type | toSchemaType}},
	Computed: true,
	{{- if eq .Type "NestedObject"}}
	Elem: &schema.Resource{
		Schema: map[string]*schema.Schema{
			{{- range .Properties}}
			{{template "schemaField" .}}
			{{- end}}
		},
	},
	{{- else if eq .Type "Array"}}
	Elem: &schema.Schema{Type: schema.TypeString},
	{{- end}}
},
{{- end}}
package google

import (
	"context"
	"github.com/hashicorp/terraform-plugin-sdk/v2/diag"
	"github.com/hashicorp/terraform-plugin-sdk/v2/helper/schema"
)

func dataSource{{.Name}}List() *schema.Resource {
	return &schema.Resource{
		ReadContext: dataSource{{.Name}}ListRead,
		Schema: map[string]*schema.Schema{
			"project": {
				Type:     schema.TypeString,
				Optional: true,
			},
			"{{.Name | toSnake}}s": {
				Type:     schema.TypeList,
				Computed: true,
				Elem: &schema.Resource{
					Schema: map[string]*schema.Schema{
						{{- range .Properties}}
						{{template "schemaField" .}}
						{{- end}}
					},
				},
			},
		},
	}
}

func dataSource{{.Name}}ListRead(ctx context.Context, d *schema.ResourceData, meta interface{}) diag.Diagnostics {
	// TODO: implement
	return nil
}
